@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.main {
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8666666667);
  z-index: 5;
  transition: 0.5s;
}
.main .logo {
  margin-left: 50px;
  width: 15rem;
  transition: 0.3s;
}
.main .res {
  display: none;
}
.main .nav-bar {
  width: 50%;
  height: 100%;
}
.main .nav-bar .close {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 6;
}
.main .nav-bar .list-container {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .nav-bar .list-container .elements {
  display: flex;
}
.main .nav-bar .list-container .elements a {
  color: #fff;
  font-family: "Courgette", cursive;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 7px 15px;
  border: 2px solid transparent;
  border-radius: 14px;
  text-align: center;
  transition: 0.3s;
}

.freez {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(img/backgroundGif.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.divid {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#home .me {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .me .me-wrapper {
  position: relative;
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .me .me-wrapper .me-img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  border: 5px solid black;
  z-index: -1;
}
#home .me .me-wrapper .icon-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
  margin-right: 0.9%;
}
#home .me .me-wrapper .icon-container a {
  color: black;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s;
}
#home .bt-tx {
  width: 50%;
  height: 70%;
  color: #fff;
  font-family: "Courgette", cursive;
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  background: rgba(0, 34, 51, 0.7333333333);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#contact .cont-me {
  width: 50%;
  height: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
}
#contact .cont-me div h1 {
  font-size: 7rem;
  font-size: clamp(20px, 6vw, 6rem);
  font-family: "Courgette", cursive;
}
#contact .cont-me div h2 {
  font-family: monospace;
  font-size: 2rem;
  font-size: clamp(10px, 2vw, 2rem);
}
#contact .cont-me div .downoload {
  position: absolute;
  top: 50%;
  text-decoration: none;
  padding: 20px;
  color: #fff;
  border-radius: 15px;
  border: 1px solid #fff;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: monospace;
  transition: 0.3s;
}
#contact .form-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .form-container .form {
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.8666666667);
  border: 3px solid #4a04ec;
  padding: 32px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}
#contact .form-container .form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#contact .form-container .form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}
#contact .form-container .form .form-group input {
  width: 90%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}
#contact .form-container .form .form-group input:focus {
  outline: transparent;
  border-color: #4a04ec;
}
#contact .form-container .form .form-group textarea {
  width: 90%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  border: 1px solid #414141;
  background: transparent;
}
#contact .form-container .form .form-group textarea:focus {
  outline: none;
  border-color: #4a04ec;
}
#contact .form-container .form .form-submit-btn {
  align-self: start;
  color: #717171;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.wrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.wrapper .big-image-contantainer {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}
.wrapper .big-image-contantainer .img-container {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
}
.wrapper .big-image-contantainer .img-container .images {
  height: 100%;
  width: 50%;
  border-radius: 10px;
}
.wrapper .big-image-contantainer #img-c-1 {
  width: 30%;
}
.wrapper .big-image-contantainer #img-c-2 {
  width: 60%;
}
.wrapper .big-image-contantainer #img-c-3 {
  width: 80%;
}
.wrapper .big-image-contantainer #img-c-4 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .main .logo:hover {
    transform: scale(1.1);
  }
  .main .nav-bar .list-container .elements a:hover {
    background: rgba(82, 82, 223, 0.5058823529);
    border-color: #0105ff;
    transform: scale(1.3);
  }
  #home .me .me-wrapper .icon-container .icon-container a:hover {
    color: #0105ff;
    transform: scale(1.3);
  }
  #contact .cont-me div .downoload:hover {
    transform: scale(1.1);
  }
  #contact .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
}
@media screen and (max-width: 1024px) {
  .main .logo {
    width: 9rem;
  }
  #home {
    justify-content: center;
    flex-direction: column;
  }
  #home .me {
    width: 100%;
    height: 50%;
  }
  #home .me .me-wrapper {
    top: 20%;
    width: 70%;
    height: 90%;
    border-radius: 20px;
  }
  #home .bt-tx {
    width: 100%;
    height: 50%;
    font-size: 2rem;
    margin-top: 50px;
    justify-content: start;
  }
  #contact {
    flex-direction: column;
  }
  #contact .cont-me {
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 20%;
  }
  #contact .cont-me div .bt-tx-ht i {
    transform: rotate(90deg);
  }
  #contact .cont-me div .downoload {
    top: 30%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
  }
  #contact .form-container {
    width: 100%;
    height: 50%;
  }
  #contact .form-container .form {
    width: 70%;
    height: 90%;
  }
  #contact .form-container .form-submit-btn:active {
    background-color: #fff;
    border-color: #fff;
  }
  #section1 .wrapper .big-image-contantainer {
    height: 100%;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  #section1 .wrapper .big-image-contantainer .images {
    height: 100%;
    flex-grow: 1;
    border-radius: 10px;
  }
  #section1 .wrapper .big-image-contantainer .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #section1 .wrapper .big-image-contantainer #img-c-1,
  #section1 .wrapper .big-image-contantainer #img-c-2,
  #section1 .wrapper .big-image-contantainer #img-c-3,
  #section1 .wrapper .big-image-contantainer #img-c-4 {
    width: 90%;
  }
  #section1 .wrapper .big-image-contantainer .de {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .main .logo {
    width: 10rem;
  }
  .main .res {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 50px;
  }
  .main .res:active {
    color: #0a27cc;
  }
  .main .nav-bar {
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: -50%;
    transform: translateX(50%);
    background: rgba(84, 14, 165, 0.337254902);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    margin: 0;
    transition: 0.5s;
  }
  .main .nav-bar.active {
    right: 0;
    transform: translateX(0);
  }
  .main .nav-bar .list-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    gap: 100px;
    margin: 50px 0 0 50px;
  }
}
@media screen and (max-width: 576px) {
  .main .logo {
    margin-left: 30px;
  }
  .main .nav-bar {
    width: 100%;
  }
  #home .me {
    width: 90%;
  }
  #home .me .me-wrapper {
    width: 110%;
    height: 90%;
    border-radius: 10px;
  }
  #home .me .me-wrapper .me-img {
    width: 100%;
    height: 90%;
    border-radius: 20px;
  }
  #home .me .icon-container {
    margin: 0;
  }
  #home .me .icon-container i {
    font-size: 2rem;
  }
  #home .bt-tx {
    width: 100%;
    height: 50%;
    font-size: 1rem;
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }
  #home .bt-tx div {
    width: 90%;
    padding: 10px;
    background: rgba(78, 10, 204, 0.5607843137);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  #contact .cont-me {
    align-items: center;
  }
  #contact .cont-me div h1 {
    font-size: 2rem;
  }
  #contact .cont-me div h2 {
    font-size: 0.8rem;
  }
  #contact .cont-me div .downoload {
    top: 25%;
    font-size: 1rem;
  }
  #contact .form-container .form {
    gap: 10px;
    width: max(90%, 250px);
    height: 110%;
  }
  #section1 .wrapper .big-image-contantainer {
    justify-content: flex-start;
    align-items: flex-end;
  }
  #section1 .wrapper .big-image-contantainer .images {
    height: 100%;
    width: 10%;
    border-radius: 10px;
  }
  #section1 .wrapper .big-image-contantainer .img-container {
    gap: 5px;
  }
  #section1 .wrapper .big-image-contantainer #img-c-1,
  #section1 .wrapper .big-image-contantainer #img-c-2,
  #section1 .wrapper .big-image-contantainer #img-c-3,
  #section1 .wrapper .big-image-contantainer #img-c-4 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */