@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

#section1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-wrapper {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skill-wrapper,
.skill-wrapper1,
.skill-wrapper2 {
    position: relative;
    width: 400px;
    height: 400px;
}

.rotateol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
    padding: 30px;
    font-size: clamp(10px, 3vw, 1.5rem);
    font-family: "Courgette";
    background: #6888eb;
    border: 4px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    z-index: 3;
}

.rotateol:hover {
    background-color: #416ceb;
    color: #fff;
}

.skill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 150px;
    font-size: 1.8rem;
    z-index: 0;
    transition-delay: calc(0.1s * var(--i));
    transition: 1s;
}

.skill-wrapper.active .skill-container {
    transform: translate(-300%, -50%) rotate(calc(360deg / 4 * var(--i)));
}

.skill-wrapper1.active1 .skill-container1 {
    transform: translate(-300%, -50%) rotate(calc(360deg / 5 * var(--i)));
}

.skill-wrapper2.active2 .skill-container2 {
    transform: translate(-300%, -50%) rotate(calc(360deg / 2 * var(--i)));
}

@media screen and (max-width: 1024px) {
    .section1-wrapper {
        gap: 0;
        flex-direction: column;
    }

    .skill-wrapper,
    .skill-wrapper1,
    .skill-wrapper2 {
        width: 80vw;
    }

    .rotateol {
        width: 6rem;
        height: 6rem;
        padding: 20px;
        font-size: clamp(8px, 3vw, 1.2rem);
    }

    .skill {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        transform-origin: 120px;
    }
}

@media screen and (max-width: 567px) {
    .skill-wrapper,
    .skill-wrapper1,
    .skill-wrapper2 {
        width: 90vw;
    }

    .rotateol {
        width: 5rem;
        height: 5rem;
        padding: 15px;
        font-size: clamp(8px, 3vw, 1rem);
    }

    .skill {
        width: 30px;
        height: 30px;
        font-size: 1.2rem;
        transform-origin: 90px;
    }
}