* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url(imgs/bg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: min(100vw, 1440px);
    height: 90vh;
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

.big-image-contantainer {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

.img-container {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 20px;
}

.images {
    height: 100%;
    width: 50%;
    border-radius: 10px;
}

#img-c-1 {
    width: 30%;
}

#img-c-2 {
    width: 60%;
}

#img-c-3 {
    width: 80%;
}

#img-c-4 {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .big-image-contantainer {
        height: 100%;
        width: 100%;
        padding: 10px;
        align-items: center;    
        justify-content: center;
        gap: 15px;
    }

    .images {
        height: 100%;
        flex-grow: 1;
        border-radius: 10px;
    }

    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #img-c-1 {
        width: 90%;
    }

    #img-c-2 {
        width: 90%;
    }

    #img-c-3 {
        width: 90%;
    }

    #img-c-4 {
        width: 90%;
    }

    .de {
        display: none;
    }
}


@media screen and (max-width: 576px) {
    .big-image-contantainer {
        justify-content: center;
    }

    .images {
        height: 100%;
        width: 10%;
        border-radius: 10px;
    }

    .img-container {
        gap: 5px;
    }

    #img-c-1 {
        width: 100%;
    }

    #img-c-2 {
        width: 100%;
    }

    #img-c-3 {
        width: 100%;
    }

    #img-c-4 {
        width: 100%;
    }
}